@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}
#container {

    margin: 30px;
    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 30px;
}

#btnTeste {

    height: 50px;
    width: 150px;

    border-radius: 30px;
    border: 0;

    background-color: #6CB52D;
    color: white;

    font-size: 18px;

}

#guide__link {
    color: black;
}